html
  head
    title= title
    link(href='styles.css', rel='stylesheet')
  body
    h1= heading
    p <strong> Let's get started.</strong>
      ul
        li
          a(href= webUrl) Website
        li
          a(href= githubUrl) Github Repository